body{
    font-family: "Avenir Next";
    margin:0 ;
    padding: 0;
}
h1,p{
    padding-top: 4%;
    padding-left: 10%;
    padding-right:10%;
    color: #345065;
}
h1{
    font-family: "Avenir Next";
    font-size: 1.5em;
}
p{
    font-family: "Avenir Next";
    font-size: 1em;
}

header{
  animation-name: slide;
  animation-duration: 2s;
}
.logo {
    margin-left: auto;
    margin-right: 15px;
    padding: 10px!important;
    width: 40px;
    height: 40px;
    background: url(../materials/logo.png) 25% 25%/ contain no-repeat;
    animation-name: slide_rotate_unhide;
    animation-duration: 3s;
}

.copyr{
    color: #909FAB;
    font-size: 1em;
    position: relative;
    padding-top: 2%;
}


footer{
      bottom: 0;
      background-color: #345065;
      height: 80px;
      width: 100%;
    ;
}

@keyframes slide_rotate_unhide {
  from {
    transform: rotate(0deg);
    opacity: 0.0;     
    margin-left: -100px;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;     
    margin-right: 0px;
  }
}


@keyframes slide {
  from {
    opacity: 0;
    margin-top: -70px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

img {
    float: left;
}

.btn {
    float: right;
    margin-bottom: 20px;
}

.input-form {
    display: flex;
}

#newsForm {
    margin-top: 20px;
    margin-bottom: 20px;
}

#addPicture {
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

@media screen and (max-width: 1050px) {
    .main-text > h2 {
        padding-top: 60px;
    }
}

